<?php
define('ROOT_PATH', dirname(__FILE__) . '/..');//根目录
define('ZB_PATH', ROOT_PATH.'/zb');//根目录
define('DB_HOST', '192.0.0.1');
define('DB_PORT', '3306');
define('DB_NAME', 'zb');
define('DB_USER', 'zb_user');
define('DB_PW', '123wudai#@!');

define('CACHE_SERVER', 'memcached');
define('MEMCACHE_HOST', '127.0.0.1');
define('MEMCACHE_PORT', '11211');

define('ASSET_VERSION', 0);
define('ASSET_COMBO', 1);

ini_set('error_log', '/var/log/nginx/matao2012cps.error.log');
ini_set('session.cookie_domain', 'zb.wudai9.net');
$GLOBALS['session_memcache_config'] = array(
	'servers' => array(
		'tcp://127.0.0.1:11211?persistent=1&weight=100',
	),
);

define('SITE_NAME', 'zb.wudai9.net');
define('SITE_URL', 'http://'.SITE_NAME);
define('ASSET_NAME', 's.wudai9.net');
define('ASSET_SERVER', 'http://'.ASSET_NAME);

define('TPL_TEMPLATE_DIR', ZB_PATH . '/tpl');
define('TPL_COMPILED_DIR', ZB_PATH . '/temp/compiled');
define('TPL_PLUGINS_DIR', ZB_PATH . '/tpl/plugins');

define('DEBUG', true);
define('CRON_LOG', '/tmp/mt_zb.log');
